.list-group-item{
    display: flex;
    justify-content: space-between;
}

.container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}
.calculator{
    background-color: yellow;
   color:red;

}



.output{
    text-align: right;
    border: none;
    outline: none;
    background-color: blue;
    width: 200px;
    margin-top: 25px;
    height:50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    padding: '15px 4px';
    font-size: 18px;
    margin-left: 50px;
    
}
button{
    width: 800px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    background-color: blanchedalmond;
    border: none;
    border-top: 1px solid black;
    border-right :1px solid black;
    align-items: center;
    scroll-margin-block-start: 2px;
}
.row{
    display: flex;
    margin-left: 50px;
    
    
}
.digit{
 width: 50px;
}
.operator{
    width: 50px;
    border-right: none;
    background-color: pink;
   }
.Clear{
    width:50px;
    background-color: aqua;
}

